# https://pnpm.io/npmrc

# Dependency Hoisting Settings
hoist = true
hoist-pattern = ['*']
public-hoist-pattern = ['*eslint*', '*prettier*']
shamefully-hoist = true

# Node-Modules Settings
modules-dir = node_modules
node-linker = isolated
symlink = true
enable-modules-dir = true
virtual-store-dir = node_modules/.pnpm
package-import-method = auto
modules-cache-max-age = 10080

# Lockfile Settings
lockfile = true
prefer-frozen-lockfile = true
lockfile-include-tarball-url = true

# Request Settings
network-concurrency = 64
fetch-retries = 4
strict-ssl = true

# Peer Dependency Settings
auto-install-peers = true
resolve-peers-from-workspace-root = false

# Workspace Settings
link-workspace-packages = deep
prefer-workspace-packages = true
shared-workspace-lockfile = true
save-workspace-protocol = rolling
resolution-mode = time-based